.request-header{
    min-height: 8vh;
    max-height: 8vh;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 10px;
    z-index: 2;
    position: sticky;
    top: 0;
}
.request-header a{
    text-decoration: none;
}
.request-body{
    flex: 1;
    position: relative;
}
.request-body-resident{
    display: flex;
    flex: 1;
    height: 82vh;
    padding: 10px;
    position: relative;
}
.request-body-resident-img{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.request-body-resident-info{
    flex: 1;
    padding: 10px;
}
.inline{
    display: flex;
    align-items: flex-end;
    
    /* flex-direction: column; */
}
.s-b{
    justify-content: space-between;
}
.inline-column{
    display: flex;
    flex-direction: column;
}
.sticky-footer{
    width: 100%;
    background: #fff;
    padding: 10px;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

