.profile-wrapper{
    /* height: 100vh; */
    overflow: auto;
    width: 100%;
    background: #fff;
    position: relative;
    padding: 20px;
}
.profile-info h4{
    font-size: 30px;
    color: #52389A;
}
.form-group{
    display: flex;
    position: relative;
    margin-top: 10px;
}
.profile-picture{
    min-height: 200px;
    min-width: 150px;
    max-height: 200px;
    max-width: 150px;
    background: red;
    position: relative;
    border-radius: 10px;
}
.edit-profile-picture-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    transition: .3s;
    color: #a3a3a3;
}
.edit-btn{
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(0,0,0,0.2);
    transition: .3s;
}
.edit-btn:hover{
    background: rgba(0,0,0,0.1);
}
.edit-profile-picture-btn:hover{
    background: rgba(0,0,0,0.3);
}
.profile-info{
    margin-left: 20px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid gray;
}
.profile-info h3{
    color: #545353;
}
.profile-role{
    padding:10px;
    background: #7B79CD;
    color: #EFEFEF;
}
.form-col{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.form-label{
    color: #545353;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-input{
    font-size: 17px;
    flex:1;
    border: none;
    outline: none;
    height: 100%;
    padding: 5px;
    height: 40px;
}
.fieldset{
    margin-top: 10px;
    display: flex;
    flex: 1;
    position: relative;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1.6px solid gray;
}
.fieldset-btn{
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: rgba(0,0,0,0.2);
    transition: .3s;
}
.fieldset-btn:hover{
    background: rgba(0,0,0,0.1);
}
.form-inline-group{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 800px){
    .profile-info h4{
        font-size: 20px;
    }
    .profile-info{
        margin-left: 0;
    }
    .form-group{
        flex-direction: column;
    }
    .edit-btn{
        top:0;
    }
    .form-inline-group{
        flex-direction: column;
    }
}