.file-req-main-wrapper{
    min-height: 90vh;
    background: #fff;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.req-card{
    background: rgb(156, 164, 252);
    padding:10px;
    margin-top: 10px;
}
.req-submit-footer{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
