.root-mod{
    width: 100vw;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: auto;
}
.col-mod{
    width: 30vw;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: #F9F7F7;
}
.user-root{
    width: 60vw;
    min-height: 100%;
    position: relative;
    background: #F9F7F7;
    padding: 10px;
}
.user-wrapper{
    width: 70vw;
    height: 90vh;
    position: relative;
    display: block;
    overflow: auto;
    background: #F9F7F7;

}
.post-wrapper-header{
    display: flex;
    padding: 10px;
    align-items: center;
}
.post-wrapper-footer{
    flex: 1;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.post-wrapper-footer-btn{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    background:rgba(0,0,0,.1);
    border: none;
    outline: none;
}
.post-wrapper-footer-btn span{
    display: flex;
    align-items: center;
    margin-right:5px ;
}
.post-wrapper-header small{
    margin-left: 5px;
    color: gray;
}
.post-wrapper-body{
    padding: 10px;
}
.user-create-post{
    /* padding: 10px; */
    /* background: red; */
}
.me-wrapper{
    display: flex;
}
.me-information-wrapper{
    display: flex;
    flex: 1;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
}
.me-row{
    display: flex;
    align-items: center;
}
.me-profile-photo-wrapper{
    height: 150px;
    width: 140px;
    background: red;
    position: relative;
    overflow: hidden;
}
.me-profile-photo-wrapper img{
    height: 150px;
    width: 140px;
}
#pp{
    display: none;
}
.me-row label{
    padding: 10px;
    background: #52389A;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
}
.me-row label span{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;


}
@media screen and (max-width:800px){
    .user-container{
        width: 100vw;
    }
    .col-mod{
        width: 20vw;
    }
    .user-root{
        width: 80vh;
    }
    .root-mod{
        justify-content: center;
        align-items: center;
    }
    .me-profile-photo-wrapper{
        width: 100%;
        height: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .me-profile-photo-wrapper img{
        height: 280px;
        width: 250px;
    }
    .me-wrapper{
        flex-direction: column;
    }
}
@media screen and (max-width:700px){
    .col-mod{
        display: none;
    }
    .user-wrapper{
        width: 100%;
    }
    .user-root{
        width: 100%;
    }
}