.user-container{
    height: 90vh;
    width: 100vw;
    position: relative;
    display: flex;
    overflow: auto;
}
.user-wrapper{
    width: 78.0380673499268vw;
    height: 90vh;
    position: relative;
    background: #C4C4C4;
}

@media screen and (max-width:800px){

}