.root-mod{
    width: 100vw;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: auto;
}
.col-mod{
    width: 30vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #F9F7F7;
}
.user-root{
    width: 60vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #F9F7F7;
    padding: 10px;
}
.user-wrapper{
    width: 70vw;
    height: 90vh;
    position: relative;
    display: block;
    overflow: auto;
    background: #F9F7F7;

}
.post-wrapper-header{
    display: flex;
    padding: 10px;
    align-items: center;
}
.post-wrapper-footer{
    flex: 1;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.post-wrapper-footer-btn{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    background:rgba(0,0,0,.1);
    border: none;
    outline: none;
}
.post-wrapper-footer-btn span{
    display: flex;
    align-items: center;
    margin-right:5px ;
}
.post-wrapper-header small{
    margin-left: 5px;
    color: gray;
}
.post-wrapper-body{
    padding: 10px;
}
.user-create-post{
    /* padding: 10px; */
    /* background: red; */
}
.me-wrapper{
    display: flex;
    flex-direction: column;
}
.me-main{
    padding:10px;
    width:80%;
}
.me-information-wrapper{
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 10px;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}
.me-profile-intro{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}
.me-information-wrapper form{
    display: flex;
    flex: 1;
    width: 100%;
    padding: 10px;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}
.me-edit-profile{
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    right: 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    color: #fff;
    background: #52389A;
}
.me-row{
    display: flex;
    align-items: center;
}
.me-row span{
    margin-right: 10px;
}
.me-profile-wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.me-profile-wrapper img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}
.me-form-group{
    background: red;
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex: 1;
}
.me-form-group input{
    width: 100%;
}
#pp{
    display: none;
}
.me-row label{
    padding: 10px;
    background: #52389A;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
}
.me-row label span{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;


}
.edit-content-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.edit-content{
    margin-left: 20px;
}
.edit-button{
    position: absolute;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    background: rgba(0,0,0,0.1);
}    
.edit-button:hover{
    background: rgba(0,0,0,0.2);
}
.edit-form-field{
    background: #fff;
    border-radius: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
} 
.edit-form-footer{
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
    justify-content: flex-end;
}
.edit-form-cancel-btn{
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    background: #C4C4C4;
}
.edit-form-submit-btn{
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    background: #0469E0;
    color: #fff;
}
.edit-form-submit-btn:hover{
    background: #065ec2;
}
.edit-form-cancel-btn:hover{
    background: #b8b7b7;
}
.form-flex-mod{
    width: 100%;
    display: flex;
    position: relative;
}  
#flex-input{
    width: 100%;
}
.icon-wrapper{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:800px){
    .user-container{
        width: 100vw;
    }
    .col-mod{
        width: 20vw;
    }
    .user-root{
        width: 80vh;
    }
    .root-mod{
        justify-content: center;
        align-items: center;
    }
    .me-profile-wrapper{
        width: 100%;
        height: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .me-edit-profile{
        bottom: 0;
    }
    .me-wrapper{
        flex-direction: column;
    }
    .me-profile-wrapper img{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:700px){
    .col-mod{
        display: none;
    }
    .user-wrapper{
        width: 100%;
    }
    .user-root{
        width: 100%;
    }
    .me-main{
        width: 100%;
        padding: 20px;
    }
}