.logo-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center ;
    justify-content: center;
    margin-bottom: 10px;
    position: sticky;
    top:0;
    background: #fff;
    z-index: 1;
}
.logo{
    height: 60px;
    width: 60px;
    background: blue;
    border-radius: 50%;
    margin: 10px;
}