.flex-modal{
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
    padding: 10px;
    display: flex;
    border-radius: 10px;
}
.flex-modal-content{
    flex: 1;
    display: flex;
    position: relative;
}