.navbar-dummy{
    height: 10vh;
    /* background-color: #FF6699; */
    background: #f3397a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.navbar-dummy-info{
    display: flex;
    align-items: center;
}
.navbar-dummy-link-wrapper{
    height: 60px;
    position: relative;
}
.logo img{
   width: 100%;
   height: 100%;
}
.brgy-logo{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
    position: relative;
}
.brgy-logo img{
    height: 100%;
    width: 100%;
}
.navbar-location{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.notif-holder{
    height: 550px;
    width: 100%;
    position: relative;
}
.notif-header{
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.notif-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.notif-link{
    text-decoration: none;
    padding:10px;
    color: black;
    border-radius: 10px;
    transition: .3s;
}
.notif-link:hover{
    background: rgba(0,0,0,0.1);
}
@media screen and (max-width: 1920px){
    .navbar-dummy-link-wrapper{
        height: 60px
    }
}

@media screen and (max-width: 1720px){
    .navbar-dummy-link-wrapper{
        height: 35px
    }
}
@media screen and (max-width: 800px){
    .logo{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 10px;
    }
    .brgy-logo{
        margin: 10px;
    }
}