.navbar-dummy{
    height: 10vh;
    background-color: #52389A;
    display: flex;
    align-items: center;
}
.brgy-logo{
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    margin: 20px;
}

@media screen and (max-width: 800px){
    .logo{
        height: 40px;
        width: 40px;
        background: blue;
        border-radius: 50%;
        margin: 10px;
    }
    
}