.navbar-dummy{
    height: 10vh;
    /* background-color: #FF6699; */
    background: #f3397a;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.logo img{
   width: 100%;
   height: 100%;
}
.brgy-logo{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
    position: relative;
}
.brgy-logo img{
    height: 100%;
    width: 100%;
}
.navbar-location{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.notif-holder{
    height: 550px;
}
@media screen and (max-width: 800px){
    .logo{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 10px;
    }
    .brgy-logo{
        margin: 10px;
    }
}