.option-nav{
    min-height: 10vh;
    /* background: #52389A; */
    background: #FF6699;
    z-index: 1;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(196, 195, 195);
    display: flex;
    padding: 10px;
    align-items: center;
    
}
.option-nav form{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.option-nav-btn{
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 5px;
}
.option-nav-btn:hover{
    background: rgba(0,0,0,0.2);
}
.custom-search-wrapper{
    height: 40px;
    background: rgba(0,0,0,0.2);
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
}
.custom-search-input{
    flex:1;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.custom-search-btn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
}
.floating-wrapper{
    display: flex;
    width: 100%;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    position: sticky;
    z-index: 5;
    bottom: 0;
    left: 0;
}
.sort-button{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    /* background: rgba(0,0,0,0.1); */
    background: #fff;
    transition: .3s;
    margin: 10px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.nav-download-btn{
    padding: 10px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.nav-download-btn:hover{
    background: rgb(56, 56, 56);
}