.row{
    flex: 1;
    display: flex;
}
.col{
    width: 100%;
    padding:10px;
    background: #fff;
    border-radius: 10px;
    min-height: 100px;
    margin: 5px;
}
.wrapper-main{
    width: 70%;
    position: relative;
    /* padding: 10px 0 0 0 ; */
    min-height: 100vh;
}


@media screen and (max-width: 800px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
    }
    .wrapper-main{
        width: 100%;
        padding-top: unset;
        /* padding:10px; */
    }
}
@media screen and (max-width: 600px){
    .col{
        width: 90%;
    }
    .wrapper-main{
        width: 100%;
        padding-top: unset;
        /* padding:10px; */
    }
}