.row{
    flex:1;
    display: flex;
}
.col{
    flex:1;
    padding:10px;
    background: red;
    margin: 10px;
}
.wrapper-main{
    height: 100%;
    flex: 1;
    padding:10px;
    background: #fff;
}

@media screen and (max-width: 800px){
    .row{
        flex-direction: column;
    }
}