/*sidebar styling*/
.sidebar-wrapper{
    height: 100vh;
    position: relative;
}
.sidebar{
    font-family: sans-serif;
    height: 87.40157480314961vh;
    min-width: 100px;
    max-width: 100px;
    background: #52389A;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
.sidebar::-webkit-scrollbar {
    display: none;
  }
.sidebar-user-wrapper{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B0A7A7;
}
.sidebar-user-info h4{
    font-size: 16px;
}
.sidebar-avatar-wrapper{
    height: 45px;
    width: 45px;
    background: green;
    margin: 10px;
    border-radius: 50%;
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    min-width: 90px;
    max-height: 80px;
    max-width: 90px;
}
.sidebar-link-wrapper{
    text-decoration: none;
    width: 90%;
    min-height: 80px;
    min-width: 90px;
    max-height: 80px;
    max-width: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 20px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    transition: .3s;
}
.sidebar-link-wrapper-active{
    text-decoration: none;
    background: #EFEFEF;
    width: 90%;
    min-height: 80px;
    min-width: 90px;
    max-height: 80px;
    max-width: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 20px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
}
.sidebar-link-wrapper:hover{
    background: rgba(255,255,255,.2);
}
.sidebar-link-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
    min-height: 80px;
    min-width: 90px;
    max-height: 80px;
    max-width: 90px;
}
.sidebar-link-icon{
    height: 35px;
    width: 35px;
    background: #EFEFEF;
    border-radius: 50%;
    display: flex;
    color: #52389A;
    margin: 5px;
    align-items: center;
    justify-content: center;
}
.sidebar-link-icon-active{
    height: 35px;
    width: 35px;
    background: #52389A;
    border-radius: 50%;
    display: flex;
    margin: 5px;
    color:#fff;
    align-items: center;
    justify-content: center;
}
.sidebar-link-title{
    font-size: 12px;
    color:#fff;
    text-transform:uppercase;
    font-weight: bold;
}
.sidebar-link-title-active{
    font-size: 12px;
    color:#545353;
    text-transform:uppercase;
    font-weight: bold;
}
.signout-btn-wrapper{
    min-height: 12.598425196850394vh;
    max-height: 12.598425196850394vh;
    width: 100%;
    display: flex;
    text-transform: uppercase;
    align-items: flex-end;
    justify-content: flex-end;
    background: #52389A;
}
.signout-btn{
    min-height: 12.598425196850394vh;
    max-height: 12.598425196850394vh;
    width: 90%;
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    color: #EFEFEF;
    font-size: 12px;
    font-weight: bold;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
}
.signout-btn:hover{
    background: rgba(255,255,255,.2);
}
.signout-btn span{
    height: 35px;
    width: 35px;
    background: #EFEFEF;
    color: #52389A;
    border-radius: 50%;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:800px){
    .sidebar{
        min-width: unset;
        max-width: unset;
    }
    .sidebar-link-title, .sidebar-link-title-active{
        display: none;
    }
    .sidebar-link, .sidebar-link-active{
        min-width: unset;
        max-width: unset;
        max-height: 60px;
        min-height: 60px;
    }
    .sidebar-link-wrapper, 
    .sidebar-link-wrapper-active{
        min-width: unset;
        max-width: unset;
        max-height: unset;
        min-height: unset;
    }
    .signout-btn-text{
        display: none;
    }
    .signout-btn{
        max-height: 60px;
        min-height: 60px;
    }
}