.user-sidebar{
    height: 90vh;
    min-width: 300px;
    max-width: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.icon-span{
    height: 40px;
    position: relative;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    /* color:#E05304 ; */
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-span-active{
    position: relative;
    height: 40px;
    width: 40px;
    /* background: #52389A; */
    border-radius: 50%;
    color: #52389A;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#span-small{
    position: absolute;
    color: #fff;
    font-size: 10px;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    padding: 5px;
    background: red;
}
.user-sidebar-btn{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: #E05304;
    transition: .3s;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
}
.user-sidebar-btn:hover{
    background: #c74b04;
}
.user-sidebar-link{
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-left: 10px solid #fff;
    transition: .3s;
    color:rgb(43, 42, 42);
    font-size: 16px;
    font-weight: bold;
}
.user-sidebar-link-active{
    padding: 5px;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    /* background: #F2F0F0; */
    transition: .3s;
    border-left: 10px solid #52389A;
    color: #52389A;
    font-size: 16px;
    font-weight: bold;
}
.user-sidebar-link:hover{
    background: #F2F0F0;
}