.user-sidebar{
    height: 90vh;
    min-width: 20vw;
    max-width:  20vw;
    background: #fff;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    bottom: 0;
    overflow: auto;
}
.user-sidebar-content{
    height: 83vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
}
.user-sidebar-footer{
    height: 7vh;
    padding: 10px;
    display: flex;
    z-index: 2;
    align-items: center;
    border-top: 1px solid lightgray;
}
.logout-btn-custom{
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border: none;
    transition: .3s;
    color: #ee0d58;
}

.logout-btn-custom:hover{
    background: lightgray;
}
.icon-span{
    height: 40px;
    position: relative;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-span-active{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#span-small{
    position: absolute;
    color: #fff;
    font-size: 10px;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    padding: 5px;
    background: red;
}
.user-sidebar-btn{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: #fff;
    border: 2px solid #fa72a0;
    transition: .3s;
    color:#6C0C35;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.user-sidebar-btn:hover{
    background: #EEEEEE;
}
.user-sidebar-link{
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: .3s;
    color:#6C0C35;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
.user-sidebar-link-active{
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: #fa72a0;
    transition: .3s;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.user-sidebar-link:hover{
    background: #f8c0d3;
}
@media screen and (max-width: 100px){
    .user-sidebar{
        height: 90vh;
        min-width: 273.2px;
        max-width:  273.2px;
        background: #fff;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        bottom: 0;
    }
}
@media screen and (max-width:700px){
    .user-sidebar{
        display: none;
    }
    .user-sidebar-link{
        border-left: 0;
        border-bottom: 2px solid #fff;
    }
    .user-sidebar-link-active{
        border-left: 0;
        border-bottom: 2px solid #87067A;
    }

    .icon-span{
        height: 40px;
        position: relative;
        width: 40px;
        background: #fff;
        border-radius: 50%;
        /* color:#E05304 ; */
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .user-sidebar-link:hover{
        background: #F2F0F0;
    }
    .icon-span-active{
        margin-right: 0;
    }
}