.con-container{
    height: 100vh;
    width: 100vw;
    background: #8277A3;
    position: relative;
    display: flex;
}
/*main content container*/
.content-wrapper{
    flex:1;
    height: 100%;
    position: relative;
}
.main-content-wrapper{
    /* background: #fff; */
    flex:1;
    height: 100vh;
    width: 100%;
    position: relative;
}
.content-main-holder{
    height: 100%;
    width: 100%;
    background: #EFEFEF;
    padding:10px;
}
@media screen and (max-width:800px){
    .content-wrapper{
        margin-left: 0;
    }
}