.con-container{
    height: 100vh;
    width: 100vw;
    background: #E9E3F9;
    position: relative;
    display: flex;
}
/*main content container*/
.content-wrapper{
    flex:1;
    height: 100%;
    margin-left: 20px;
    position: relative;
}
.main-content-wrapper{
    /* background: #fff; */
    flex:1;
    height: 93vh;
    width: 100%;
    position: relative;
}
.content-main-holder{
    height: 100%;
    width: 100%;
    background: #fff;
}
