.container-login{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9E3F9;
  }
  .login-form-wrapper{
    height: 500px;
    width: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 10px;
    background: #fff;
  }
  .logo-holder{
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    background: red;
    border-radius: 50%;
    z-index: 1;
  }
  .login-form{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 10px;
  }
  .login-form div{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form div input{
    width: 100%;
  }
  .login-form div input:focus{
    border-color: #52389A;
  }
  .login-form div button{
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: 20px;
    background: #7B66FF;
    color: #fff;
    font-size: 20px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form div button:hover{
    background: #654ef7;
  }
  .login-form div a{
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
  }
  .login-link{
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  @media screen and (max-width: 700px) {
    .container-login{
      justify-content: flex-end;
      align-items: flex-end;
      background: #fff;
    }
    .login-form-wrapper {
      height: 89%;
      width: 100%;
      border: unset;
    }
    .login-form{
      height: 80%;
    }
    .login-form div button{
      width: 100%;
    }
    .login-form div input{
      width: 100%;
    }
  }
  