.content-flex{
    display: flex;
    flex: 1;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}
.req-wrapper{
    height: 90vh;
    flex: 1;
    position: relative;
    background: #fff;
}

.mynav{
    height: 10vh;
    width: 100%;
    background: none;
    position: sticky;
    top: 0;
    /* background: #52389A; */
    background: #fff;
    border-bottom: 1px solid lightgray;
}
.mynav form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
}
.sort-button:hover{
    background: rgba(0,0,0,0.1);
}
.burger-menu{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}
.req-overview{
    width: 25%;
    position: sticky;
    top: 0;
    height: 90vh;  
}
.req-overview-holder{
    background: none;
    min-width: 100%;
    height: 90vh;
    overflow: auto;
    position: relative;
    display: flex;
    overflow-x: hidden;
    background: #fff;
    border-right: 1px solid lightgray;
}
.req-overview-holder form{
    width: 300px;
    min-width: 300px;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    display: flex;
}
.form-a-default{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    color: rgb(70, 63, 63);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.req-overview-holder form a:hover{
    background: rgba(0,0,0,0.04);
}
.form-a-active{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    color: #fa72a0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray
}
.search-wrapper{
    display: flex;
    width: 100%;
    background: green;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}
.icon-wrapper-mod{
    height: 40px;
    width: 40px;
    background: rgba(0,0,0,0.05);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 505;
}
.search-wrapper input{
    flex: 1;
    padding-left: 5px;
    outline: none;
    border: none;
    font-size: 16px;
}
.search-wrapper button{
    outline: none;
    border: none;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.req-overview-holder form select{
    height: 40px;
    font-size: 16px;
}
.cat-selection{
    display: flex;
    width: 200px;
    flex-direction: column;
    margin-left: 10px;
}
.cat-selection select{
    height: 40px;
    border: none;
    color: gray;
    outline: none;
    font-size: 16px;
    border: 1px solid lightgray;
    /* --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) */
}

.cat-search{
    min-width: 250px;
    max-width: 300px;
    display: flex;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    /* --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) */
    border: 1px solid lightgray;
}

.cat-search input{
    flex: 1;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    color: gray;
}
.cat-search button{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.requests{
    height: 90%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: auto;
}
.requests-footer{
    height: 10%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.process-btn{
    padding: 8px 10px;
    cursor: pointer;
    background:orange;
    outline: none;
    border: none;
    color: #fff;
}
.requests-footer div select{
    margin-left: 10px;
    height: 30px;
    outline: none;
    border: none;
    background: lightgray;
}
.req-table{
    position: relative;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid lightgray;
    overflow: auto;
}
.request-status-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.request-status-cc p{
    font-weight: bold;
}
.t-head{
    /* background:rgba(0,0,0,0.2); */
    /* position: sticky; */
    border-bottom: 1px solid lightgray;
    top: 0;
    padding: 10px;
    z-index: 1;
    /* background: gray; */
    /* border: 1px solid lightgray; */
}
.t-head tr th{
    padding: 10px;;
}
.t-body{
    background:#fff;
}
.tb-tr{
    border-bottom: 1px solid lightgray;
}
.tb-tr:nth-child(even){
    background: rgba(0,0,0,0.05);
}
.tb-tr:hover{
    background: rgba(0,0,0,0.02);
}
.req-check{
    height: 20px;
    width: 20px;
}
.t-body tr td{
   padding: 10px;
}
.my-transaction-wrapper{
    min-height: 90vh;
    background: #fff;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.my-transaction-header{
    margin-top: 20px;
}
.my-transaction-header form{
}
.delete-transaction-btn{
    position: absolute;
    right: 0;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-transaction-btn{
    width: 150px;
    padding: 10px;
    display: flex;
    border: none;
    margin-top: 10px;
    background: #b22252;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.my-transaction-qr-code{
    height: 150px;
    width: 150px;
    background: #fff;
    position: relative;
    border: 1px solid lightgray;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-transaction-qr-code img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:700px){    
    .mynav{
        padding-right:10px ;
    }
    .cat-selection, .cat-search{
        display: none;
    }
}